div.Background-and-Links{
       
  background-color: white;
  word-spacing: 200px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: impact;
  font-kerning: 0.8em;
}
.Links a{
  display: inline-block;
  background-color: lightblue;
  border: .5px solid black;
  border-width: 1px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;

}

.Links a:hover{
       color: black;
       border-radius: 10px;
       border-style: solid;
       transition-property: color;
       transition-duration: .2s;
      }
.Links a:hover{
       color: blue;
       border-color: blue;
      }

img{
	height: auto;
  width: 100%;
}
body{
	background-color: lightblue;
	background-size: wrap;
	background-position: absolute;
}

